includes:
- ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - Modules

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Access to an undefined property#'
        - '#\$model#'
        - '#Parameter \#1 \$view of function view expects view-string\|null, string given.#'

    parallel:
        processTimeout: 300.0

    excludePaths:
        - tests
        - Modules/*/Tests/*

    checkMissingIterableValueType: false
